<!DOCTYPE html>
<html>
<%- partial('_partial/head') %>

    <body>
        <!-- <%- partial('_partial/carousel') %> -->
            <%- partial('_partial/nav') %>
                <%- body %>
    </body>
    <% if(page.posts && page.posts.length > 0) { %>
        <div class="article-wrapper">
            <%- js('js/recent_post') %>
        </div>
    <% } %>

</html>